* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple Color Emoji", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  --dark-blue: #023b57;
  --bg-color: #1c1c1c;
  --bg-sidebar: #272727;
}

body {
  background-color: var(--bg-color);
}
