@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple Color Emoji", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  --dark-blue: #023b57;
  --cyan-primary: #00d0ff;
  --cyan-secondary: #059bbc;

  --dark-primary: #1c1c1c;
  --dark-secondary: #272727;
  --logout-red: rgb(255, 130, 130);
  --gray-primary: #a0a0a0;
}

input {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--dark-primary);
}
